/* COLORS ARE TEMPORARY JS SO IT DOESNT HURT MY EYES */

body {
    /* del later it js hurts my eyes */
    background-color: rgb(88, 88, 88);
    /* del end */
}

.sideP {
    width: 200px;
    background-color: #001e2fb7;

    /* text */
    text-align: center;
    padding: 40px;
    color: white;
    
    /* alignment */
    position: fixed; 
    left: 10px; right: 10px;
    top: 10px; bottom: 10px;

    border-radius: 25px;

    border: 3px solid #00d4ff;
}